<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
                    <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Category Management Edit</h4>
                    </div>
                    <div class="card-body ">
                        <form  id="cat-add-form-edit">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">Select Section</label>
                                <div class="col-lg-5 col-md-6 col-sm-3">
                                    <select class="selectpicker" data-size="7" data-style="btn btn-success btn-round"
                                        title="Single Select" name="section" id="type-select" onchange="hideType()"  >
                                        <option  selected>{{editData.section}}</option>
                                        <option value="watch">Watch</option>
                                        <option value="footwear">Footwear</option>
                                        <option value="clothes">Clothes</option>

                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <label class="bmd-label-floating">Brand Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Watch Brand Name" name="brand"
                                        value="{{editData.brand}}"
                                        required>
                                </div>
                                <div id="type-hide">
                                    <label class="bmd-label-floating">Product Type</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Product Type"
                                            name="product_type" id="p-type-hide" value="{{editData.ptype}}" required>
                                    </div>

                                </div>

                                <label class="bmd-label-floating">Category</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your category"
                                        name="category" value="{{editData.category}}" required>
                                </div>
                                 <input type="text" name="uid" value="{{editData._id}}" hidden>
                            </div>
                            <p id="cat-add-alert" style="color:red"></p>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
           
        </div>
    </div>
</div>


<script>
    function hideType(){
        let checkFoot = document.getElementById("type-select"); 
        if(checkFoot.value == "watch"){
            document.getElementById("type-hide").style.hidden="none"
             
            document.getElementById("p-type-hide").disabled="true"
            
        }else{
            document.getElementById("type-hide").style.display="block"
            
             document.getElementById("p-type-hide").removeAttribute("hidden") 
        }
        
    }
</script>