<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Category Management</h4>
                    </div>
                    <div class="card-body ">
                        <form  id="cat-add-form">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">Select Section</label>
                                <div class="col-lg-5 col-md-6 col-sm-3">
                                    <select class="selectpicker" data-size="7" data-style="btn btn-success btn-round"
                                        title="Single Select" name="section" id="type-select" onchange="hideType()"  required>
                                        <option disabled selected>Select Your Section</option>
                                        <option value="watch">Watch</option>
                                        <option value="footwear">Footwear</option>
                                        <option value="clothes">Clothes</option>

                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <label class="bmd-label-floating">Brand Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Watch Brand Name" name="brand"
                                        required>
                                </div>
                                <div id="type-hide">
                                    <label class="bmd-label-floating">Product Type</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Product Type"
                                            name="product_type" id="p-type-hide" required>
                                    </div>

                                </div>

                                <label class="bmd-label-floating">Category</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Your category"
                                        name="category" required>
                                </div>
   
                            </div>
                            <p id="cat-add-alert" style="color:red"></p>
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
           
        </div>

         <div class="row">
             {{!-- footwear --}}
             <div class="col-md-6">
                 <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Section : Footwear</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                         
                        <tr>
                           
                          <th>Category</th>
                          <th>Product Type</th>
                         
                          <th >Brand</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                           {{#each footwear}}
                           <tr>  
                          <td>{{this.category}}</td>
                          <td>{{this.ptype}}</td>
                           <td>{{this.brand}}</td>
                          <td class="td-actions text-right">
                            
                            <a href="/admin/edit-category/{{this._id}}" class="btn btn-success">
                              <i class="material-icons" style="color:#ffff">edit</i>
                            </a>
                            <a  href="/admin/delete-category/{{this._id}}" class="btn btn-danger">
                              <i class="material-icons" style="color:#ffff">close</i>
                            </a>
                          </td>
                        </tr>
                          {{/each}}
                       
                         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
           </div>
           {{!-- watch --}}
           <div class="col-md-6">
                 <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Section : Watch</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                         
                        <tr>
                           
                          <th>Category</th>
                          <th>Product Type</th>
                           <th >Brand</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                           {{#each watch}}
                           <tr>  
                          <td>{{this.category}}</td>
                          <td>watch</td>
                           <td>{{this.brand}}</td>
                          <td class="td-actions text-right">
                            
                            <a href="/admin/edit-category/{{this._id}}" class="btn btn-success">
                              <i class="material-icons" style="color:#ffff">edit</i>
                            </a>
                            <a  href="/admin/delete-category/{{this._id}}" class="btn btn-danger">
                              <i class="material-icons" style="color:#ffff">close</i>
                            </a>
                          </td>
                        </tr>
                          {{/each}}
                       
                         
                      </tbody>
                     </table>
                    </div>
                    </div>
                    </div>
                  </div>
                  </div>
 {{!-- clothes --}}
                <div class="col-md-6">
                 <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Section : Colothes</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                         
                        <tr>
                           
                          <th>Category</th>
                          <th>Product Type</th>
                         
                          <th >Brand</th>
                          <th class="text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                           {{#each clothes}}
                           <tr>  
                          <td>{{this.category}}</td>
                          <td>{{this.ptype}}</td>
                           <td>{{this.brand}}</td>
                          <td class="td-actions text-right">
                            
                            <a href="/admin/edit-category/{{this._id}}" class="btn btn-success">
                              <i class="material-icons" style="color:#ffff">edit</i>
                            </a>
                            <a  href="/admin/delete-category/{{this._id}}" class="btn btn-danger">
                              <i class="material-icons" style="color:#ffff">close</i>
                            </a>
                          </td>
                        </tr>
                          {{/each}}
                       
                         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
           </div>
 


    </div>
</div>

{{!-- <script>
    function hideType(){
        let checkFoot = document.getElementById("type-select"); 
        if(checkFoot.value == "watch"){
            document.getElementById("type-hide").style.display="none"
             
            document.getElementById("p-type-hide").disabled="true"
            
        }else{
            document.getElementById("type-hide").style.display="block"
            
             document.getElementById("p-type-hide").removeAttribute("disabled") 
        }
        
    }
</script> --}}