<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="page-categories">
                    <h3 class="title text-center">Welcome to Category</h3>
                    <br />
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                                <i class="far fa-clock"></i> Sub Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#link8" role="tablist">
                                <i class="fas fa-shoe-prints"></i> Main Section
                            </a>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#link9" role="tablist">
                                <i class="fas fa-tshirt"></i>Clothes
                            </a>
                        </li> --}}

                    </ul>

                    {{!-- watches --}}
                    <div class="tab-content tab-space tab-subcategories">
                        <div class="tab-pane active" id="link7">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add Subcategory </h4>
                                    <p class="card-category">
                                        Keep Complete This Form
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="card ">
                                            <div class="card-header card-header-rose card-header-icon">
                                                <div class="card-icon">
                                                    <i class="far fa-clock" style="font-size:34px"></i>
                                                </div>
                                                <h4 class="card-title">ADD SUB</h4>
                                            </div>
                                            <div class="card-body ">
                                                <form method="POST" id="subCategory" action="/admin/add-subcat"
                                                    enctype="multipart/form-data">
                                                    <div class="row">
                                                          <div class="form-group col-md-3">
                                                            <label class="bmd-label-floating">Select Product
                                                                Type</label>
                                                            <div class="form-group ">

                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" name="section" required>
                                                                    <option disabled selected>Product Type</option>
                                                                    {{#each types}}
                                                                    <option value="{{section}}">{{section}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                            <div class="form-group col-md-3">
                                                            <label class="bmd-label-floating">Select Option</label>
                                                            <div class="form-group ">

                                                                <select class="selectpicker" data-size="7"
                                                                    data-style="btn btn-success btn-round"
                                                                    title="Single Select" name="option" required>
                                                                    <option disabled selected>Product Type</option>

                                                                    <option value="brand ">Brand</option>
                                                                    <option value="category ">Category</option>
                                                                    <option value="ptype">Product Type</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                      
                                                        <div class="form-group col-md-6">
                                                            <label class="bmd-label-floating">Enter Your Sub </label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Select An Option And Type" name="name"
                                                                    required>
                                                            </div>

                                                        </div>
                                                        {{!-- category select --}}
                                                    

                                                        <p id="cat-add-alert" style="color: red;"></p>
                                                    </div>
                                                    <div class="card-footer ">
                                                        <button type="submit "
                                                           class="btn btn-fill btn-rose">Submit</button>
                                                    </div>
                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- main section --}}
                        <div class="tab-pane " id="link8">
                            <div class="card">

                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="card ">
                                            <div class="card-header card-header-rose card-header-icon">

                                                <h4 class="card-title">Add Mian Section</h4>
                                            </div>
                                            {{!-- add product --}}
                                            <div class="card-body ">
                                                <form method="POST" id="main-section-cat" action=" "
                                                    enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="form-group col-md-12 ">
                                                            <label class="bmd-label-floating">Main section</label>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                    placeholder="Enter main section example cloths"
                                                                    name="section" required>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <p id="maincat-add-alert" style="color: red;"></p>
                                            </div>
                                            <div class="card-footer ">
                                                <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                            </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- clothes form --}}

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="page-categories">
                    <h3 class="title text-center">Select SECTIONS</h3>
                    <br />
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item " >
                            <a class="nav-link active " data-toggle="tab" href="#clothes" role="tablist">
                                <i class="far fa-clock"></i> Clothes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#foot" role="tablist">
                                <i class="far fa-clock"></i> Footware
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#Watches" role="tablist">
                                <i class="far fa-clock"></i> Watches
                            </a>
                        </li>

                    </ul>


                    <div class="tab-content tab-space tab-subcategories">
                        <div class="tab-pane " id="foot">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Footwear</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Brand</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each footwear.brand as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/FOOTWEAR/brand/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Footwear</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each footwear.ptype as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/FOOTWEAR/ptype/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Footware</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each footwear.category as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/FOOTWEAR/category/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- main section --}}
                        <div class="tab-pane active " id="clothes">
                                <div class="row">

                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Clothes</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Brand</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each clothes.brand as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a  href="/admin/del-cat/CLOTHES/brand/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Clothes</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each clothes.ptype as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/CLOTHES/ptype/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Clothes</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each clothes.category as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/clothes/category/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       

                        <div class="tab-pane  " id="Watches">
                                <div class="row">

                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Watch</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Brand</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each watches.brand as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/watches/brand/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Watch</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each watches.ptype as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/watches/ptype/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">assignment</i>
                                            </div>
                                            <h4 class="card-title">Section : Watch</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each watches.category as |item|}}
                                                        <tr>
                                                            <td>{{item}}</td>
                                                            <td class="td-actions">
                                                                <a href="/admin/del-cat/watches/category/{{item}}"
                                                                    class="btn btn-danger">
                                                                    <i class="material-icons"
                                                                        style="color:#ffff">close</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>