<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

<style>
  .ct-series-a .ct-slice-pie {
    fill: #00bcd4 !important;
  }

  .ct-series-b .ct-slice-pie {
    fill: #ff9800 !important;
  }

  .ct-series-c .ct-slice-pie {
    fill: #f44336 !important;
  }
</style>

<div class="content">
  <div class="container-fluid">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-5">
          <div class="card card-chart">
            <div class="card-header card-header-icon card-header-danger">
              <div class="card-icon">
             <i class="fab fa-cc-amazon-pay"></i>
              </div>
              <h4 class="card-title">Payment Usages</h4>
            </div>
            <div class="card-body">
              <div id="chartPreferences" class="paichartPayment"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="card-category">Legend</h6>
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> Paypal
                  <i class="fa fa-circle text-warning"></i> Razorpay
                  <i class="fa fa-circle text-danger"></i> Cash
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon card-header-info">
              <div class="card-icon">
                <i class="material-icons">timeline</i>
              </div>
              <h4 class="card-title">Zeebracross Revenue
                <small> - Monthly</small>
              </h4>
            </div>
            <div class="card-body">
              <div id="saleReport" class="ct-chart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="fab fa-opencart"></i>
              </div>
              <p class="card-category">Today Sales</p>
              <h3 class="card-title">{{cardData.todaySales}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i>Today's Products count
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">equalizer</i>
              </div>
              <p class="card-category">Total Orders</p>
              <h3 class="card-title">{{cardData.order}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i> All orders of Zeebracross
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Revenue</p>
              {{#each cardData.totalPaymetns}}
              <h3 class="card-title">{{total}}</h3>
              {{/each}}
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Zeebracross Revenue
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
               <i class="fas fa-users"></i>
              </div>
              <p class="card-category">Users</p>
              <h3 class="card-title">+{{cardData.users}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>














  <script>
    var payments = {{{chartData}}} 
    
    var paypal , razorpay, cash;
    paypal= razorpay=cash=0;
    payments.pay.forEach((item)=>{
      if(item._id=='Paypal'){
        paypal = item.count
      }else if(item._id =='Razorpay'){
        razorpay = item.count
      }else if(item._id == "cashonDelivery"){
        cash = item.count
      }
    })
    new Chartist.Pie('.paichartPayment', {
      series: [ paypal , razorpay, cash]
    });

//line chart
var  dateData = {{{chartData}}} 
 
var JAN, FEB, APR, MAR, MAY,JUN,JUL,AUG,SEP,OCT,NOV, DEC;
JAN=FEB= APR= MAR=MAY=JUN=JUL=AUG=SEP=OCT=NOV=DEC=0;

 
dateData.monthly.forEach((month)=>{
  if(month._id=="01"){
    JAN = month.amount
  }else if(month._id=="02"){
    FEB = month.amount
  }else if(month._id=="03"){
    APR = month.amount
  }else if(month._id=="04"){
    MAR = month.amount
  }else if(month._id=="05"){
    MAY = month.amount
  }else if(month._id=="06"){
    JUN = month.amount
  }else if(month._id=="07"){
    JUL = month.amount
  }else if(month._id=="08"){
    AUG = month.amount
  }else if(month._id=="09"){
    SEP = month.amount
  }else if(month._id=="10"){
    OCT = month.amount
  }else if(month._id=="11"){
    NOV = month.amount
  }else if(month._id=="12"){
    DEC = month.amount
  } 
})

  var chart = new Chartist.Line('#saleReport', {
      labels: ['JAN', 'FEB', 'APR', 'MAR', 'MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
      series: [
        [ JAN, FEB, APR, MAR, MAY,JUN,JUL,AUG,SEP,OCT,NOV, DEC],
        
      ]
    }, {
        // Remove this configuration to see that chart rendered with cardinal spline interpolation
      // Sometimes, on large jumps in data values, it's better to use simple smoothing.
      lineSmooth: Chartist.Interpolation.simple({
        divisor: 1
      }),
      fullWidth: true,
       
    });
  </script>