 
<style>
  #datatables>thead>tr>th[class*="sort"]::before {
    display: none
  }

  #datatables>thead>tr>th[class*="sort"]::after {
    display: none
  }
  .canceled > td{
    background-color: #ff7e9e;
    color: rgb(22, 22, 22);
 
  }
  .canceled > td > a{
    text-decoration-color: none;
      color: #ffff;
 
  }
  .delivered > td{
      background-color: #affdcd;
  }
  .delivered > td > a{ 
      text-decoration-color: none;
      color: rgb(27, 27, 27);
  }
   td > select > option{ 
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  

</style>

<div class="content">
  <div class="container-fluid">
    <form action="/admin/check-date/order" method="GET"> 
    <div class="row justify-content-center" style="align-items: center">

      


      {{!-- from date --}}
      <div class="col-md-3">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">library_books</i>
            </div>
            <h4 class="card-title">From Date</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <input  type="date" id="startdate" class="selectdate form-control" onchange="selectdate()"  name="fromdate" required>
            </div>
          </div>
        </div>
      </div>
      {{!-- to date --}}
      <div class="col-md-3">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-icon">
              <i class="material-icons">library_books</i>
            </div>
            <h4 class="card-title">To Date</h4>
          </div>
          <div class="card-body ">
            <div class="form-group">
           <input style="margin-left: 1rem;" type="date" id="EndDate"   class="selectdate form-control"  name="todate" required >
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-fill btn-rose">Submit</button>


    </div>
      </form>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="fas fa-store-alt"></i>
            </div>
            <h4 class="card-title">All Orders</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatable" class="table table-striped nowrap table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>Order Id</th>
                    <th>User Id</th>
                    <th>P_Name</th>
                     <th>Order Date</th>
                          <th>Payment</th>
                     <th>Total</th>
                   
                    <th>Method</th>
                    <th>Status</th>
                      <th>Action</th>
                    {{!-- //class="disabled-sorting text-right"// --}}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                     <th> </th>
                 
                    <th> </th>
                    <th></th>
                   
                    <th> </th>
                    <th> </th>
                      <th> </th>
                  </tr>
                </tfoot>
                <tbody>

                  {{#each orderData}}
                  {{#each products}}

                  <tr id="table_row{{pid}}"  class=" {{#ifEqual status 'CANCEL'}}canceled  {{else}} {{#ifEqual status 'DELIVERED'}}delivered{{/ifEqual}} {{/ifEqual}}">
                    <td>{{../_id}}</td>
                    <td><a href="/admin/user/oderdetails/{{../userId}}">{{../userId}}</a></td>
                    <td>{{productname}}</td>
                     <td class="order_dates">{{../placedDated}}</td>
                    
                    <td>{{../paymentStatus}}</td>
                      <td> ₹ {{total}}</td>
                     <td>{{../payment}}</td>
                    
                    <td>
                      
                        <select class="custom-select" data-size="7"
                          data-style="btn btn-dark" id="statusoption{{pid}}"  onchange="changeOStatus( '{{../_id}}','{{pid}}',this.value)" name="status"  {{#ifEqual status 'DELIVERED' }}disabled {{else}} {{#ifEqual status 'CANCEL' }}disabled {{/ifEqual}} {{/ifEqual}}  >
                         <option value="{{status}}"  selected disabled>{{status}} </option>
                         <option value="PLACED" >PLACED</option>
                         <option value="SHIPPED" >SHIPPED</option>
                         <option value="DELIVERED" >DELIVERED </option>

                        </select>
                      
                    </td>

                    <td><p class=" btn {{#ifEqual status 'DELIVERED' }} btn-dark{{else}} {{#ifEqual status 'CANCEL' }} btn-dark {{else}}btn-danger{{/ifEqual}}{{/ifEqual}}" style="cursor: pointer;  " {{#ifEqual status 'DELIVERED'}}onclick="" {{else}} {{#ifEqual status 'CANCEL' }} onclick="" {{else}}onclick=" cancelProduct('{{../userId}}','{{../_id}}','{{pid}}')"{{/ifEqual}} {{/ifEqual}} >Cancel</p>
                       </td>
                  </tr>
                  {{/each}}
                  {{/each}}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  

  <script>
    function changeDate(){
      let orderdates=  document.querySelectorAll(".order_dates")
      orderdates.forEach((item)=>{
         var options = {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            };

         let date = item.innerHTML
         let newDate = new Date(date).toLocaleString("en-US", options)
         item.innerHTML= newDate

      })
    }
  </script>
  <script>
    changeDate()
  </script>
							
							
<script>
    
        $(function(){
              $('#datatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: {
          search: "_INPUT_",
          searchPlaceholder: "Search records",
        }
      });
		var dttoday = new Date();
        var month = dttoday.getMonth()+1;
        var day = dttoday.getDate();
        var year = dttoday.getFullYear();
        if(month<10)
        month = '0' + month.toString();
        if(day<10)
        day = '0' + day.toString();
        var maxdate = year + '-' + month + '-' + day;
        $('.selectdate').attr('max',maxdate);
         })
</script>


<script>
    function selectdate(){
	var StartDate= document.getElementById('startdate').value;
    document.getElementById('EndDate').setAttribute('min',StartDate)
      }
   
</script>

 