<style>
 
  .mini-cart .count .alert{
    background-color:green;
  }
</style>
<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
	<div class="box-inner">
		<span class="close-menu"><span class="icon pe-7s-close"></span></span>
	</div>
</div>
<div id="header-ontop" class="is-sticky"></div>
<header id="header" class="header style2 ">
	<div class="main-header">
		<div class="container">
			<div class="main-menu-wapper">
				<div class="row">
					<div class="col-sm-12 col-md-3 logo-wapper">
						<div class="logo">
							<a href="/"><img src="/images/logo.svg" alt=""></a>
						</div>
					</div>
					<div class="col-sm-12 col-md-9 menu-wapper">
						<div class="box-control justify-content-center">
							<form class="box-search show-icon" action="/product/search" method="get">
								<span class="icon"><span class="pe-7s-search"></span></span>
								<div class="inner">
									<input type="text" class="search" name="keyword" placeholder="Search here...">
									<button class="button-search" type="submit"><span
											class="pe-7s-search"></span></button>
								</div>
							</form>

							<div class="mini-cart">
								<a class="cart-link" href="/view-cart"><span class="pe-7s-cart"></span><span
										class="count cartAdded" id="count">{{usernav.cart.length}}</span></a>
								
							</div>
							<div class="box-settings">
								{{#if usernav}}
								<img src="/images/userimage/{{usernav.uid}}-001.jpg" onerror="this.onerror=null; this.src='https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png'" alt="" style="width:30px; border-radius:30px"> <span style="margin-left:5px;font-family:  Roboto ; font-weight: bold; color:#c99947">{{usernav.name}}</span> 
								{{else}}
								<i class="far fa-user-circle" style="font-size: 24px; padding-left:10px"> <span style="font-family:  Roboto ; font-weight: bold; color:#c99947"></span></i>
								{{/if}}
								<div class="settings-wrapper ">
									<div class="setting-content">
									  
										<div class="setting-option">
											<ul>
											 
												<li><a href="/myaccount"><i class="icon-user icons"></i><span>
															My Account</span></a></li>
												<li><a href="/view-cart"><i class="icon-note icons"></i><span>My Cart</span></a>
												</li>
												 {{#if usernav}}
												<li><a href="/logout"><i class="icon-lock-open icons"></i><span>Logout</span></a></li>
												 {{else}}
												 	<li><a href="/login"><i class="icon-lock-open icons"></i><span>Login/Register</span></a></li>
												{{/if}}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<ul class="boutique-nav main-menu clone-main-menu">
						
							<li class="menu-item-has-children item-megamenu">
								<a href="#">categories</a>
								<div style="width:820px; background-image:url('images/bg-megamenu.png'); "
									class="sub-menu megamenu megamenu-bg">
									<div class="row">
										<div class="col-sm-3">
											<div class="mega-custom-menu">
												<h2 class="title">Men's</h2>
												<ul>
													<li><a href="/product/cat/search?mood=indoor&dep=men">Indoor Collections</a></li>
													<li><a href="/product/cat/search?mood=outdoor&dep=men">Outdoor Collections</a>
													</li>
													<li><a href="/product/footwear/search?dep=men">Footwear</a></li>
													<li><a href="/product/watches/search?dep=men">Watches</a></li>

												</ul>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="mega-custom-menu">
												<h2 class="title">Women's</h2>
												<ul>
													<li><a href="/product/cat/search?mood=indoo&dep=women">Indoor Collections</a></li>
													<li><a href="/product/cat/search?mood=outdoor&dep=women">Outdoor Collections</a>
													</li>
													<li><a href="/product/footwear/search?dep=women">Footwear</a></li>
													<li><a href="/product/watches/search?dep=women">Watches</a></li>
												</ul>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="mega-custom-menu">
												<h2 class="title">Kid's</h2>
												<ul>
													<li><a href="/product/cat/search?mood=indoo&dep=kid">Indoor Collections</a></li>
													<li><a href="/product/cat/search?mood=outdoor&dep=kid">Outdoor Collections</a>
													</li>
													<li><a href="/product/footwear/search?dep=kid">Footwear</a></li>
													<li><a href="/product/watches/search?dep=kid">Watches</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							 
							<li class="item-megamenu"><a href="/allproduct">All Products</a></li>
						</ul>
						<span class="mobile-navigation"><i class="fa fa-bars"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>