<div class="banner">
	<div class="banner-content">
		<img src="/images/a.jpg" alt="" style="width: 100%;">
	</div>
</div>
<div class="main-container no-slidebar">
	<div class="container">
		<div class="row">
			<div class="main-content col-sm-12">
				<div class="shop-top">
					<div class="shop-top-left">
						<div class="breadcrumbs">
		                    <a href="#">Home</a>
		                    <span>Categories Leftsidebar</span>
		                </div>
					</div>
					<div class="shop-top-right">
						<span class="woocommerce-result-count">Showing 1-10 of 53 results</span>
						<div class="orderby-wapper">
	                    	<select class="orderby">
		                        <option value="">SORT BY NEWNESS</option>
		                        <option value="">Short by price</option>
		                    </select>
	                    </div>
	                    <div class="show-grid-list">
                            <span class="label-filter">VIEW:</span>
                            <a class="show-grid" href="#"><i class="fa fa-th"></i></a>
                            <a class="show-list active" href="#"><i class="fa fa-list"></i></a>
                        </div>
					</div>
				</div>
				<ul class="product-list-grid desktop-columns-3 tablet-columns-3 mobile-columns-1 row flex-flow">
					{{#each allProduct}}
					<li class="product-item col-sm-4">
						<div class="product-inner">
							<div class="product-thumb has-back-image">
								<a href="#"><img src="/pimages/{{_id}}001.jpg" alt=""></a>
                                <a class="back-image" href="#"><img src="/pimages/{{_id}}003.jpg" alt=""></a>
								<div class="gorup-button">
									<a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
									<a href="#" class="compare"><i class="fa fa-exchange"></i></a>
									<a href="#" class="quick-view"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<div class="product-info">
								<h3 class="product-name"><a href="#">{{Name}}</a></h3>
								<span class="price">
									<ins>{{Prize}}</ins>
									<del>{{Discount}}</del>
								</span>
								<a href="#" class="button">ADD TO CART</a>
							</div>
						</div>
					</li>
					 {{/each}}
				</ul>
				<div class="navigation">
                    <ul>
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</div>