<style>
    .discount{
        position: absolute;
        top: 0;
        left: 0;
        background: red;
    }
    .navarrow > i{
        color: #2e2e2e;
        font-size:3rem;
        transition: 0.3s ease-in;
    }
    .navarrow:hover> i{
        color: #ca9d09;
        transform: scale(1.2)
    }
</style>

<div class="banner">
    <div class="banner-content">
        <img src="/images/mainbrands/catBanner.png" alt="">
    </div>
</div>
<div class="main-container left-slidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-sm-8 col-md-9" style="margin-top: 20px;">
                 
                <ul class="product-list-grid desktop-columns-3 tablet-columns-2 mobile-columns-1 row">
                    {{#each allProduct}}

                    <li class="product-item col-sm-6 col-md-4">
                        <div class="product-inner">
                             
                            <div class="product-thumb has-back-image">
                                <a href="/product/view/{{_id}}"><img src="/pimages/{{_id}}-001.jpg" alt=""></a>
                                <a class="back-image" href="/product/view/{{_id}}"><img src="/pimages/{{_id}}-002.jpg"
                                 alt=""></a>
                                 
                            </div>
                            <div class="product-info">
                                <h3 class="product-name"><a href="/product/view/{{_id}}">{{Name}}</a></h3>
                                <span class="price">

                                    <div style="padding-bottom: 5px;">
                                        <span style=" font-weight:bold;">₹ {{OfferPrize}}</span>
                                    </div>
                                    <del style="color: red;">₹{{Prize}}</del>
   
                                    <span style="background: green; color:#ffff; padding:3px 5px;   font-weight:bold">{{Discount}}%</span>
                                     
                                </span>
                                   

                                    {{#ifEqual Quantity 0}}
                                    <a class="button button-add-cart" data-quantity="1" style="background: red;">Out Of
                                        Stock</a>
                                    {{else}}
                                     
                                    <button class="button button-add-cart" onclick="addingCart('{{_id}}')">Add to Cart</button>
                                    {{/ifEqual}}
                                

                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <div class="navigation">
                    <ul class="d-flex justify-content-center">
                        {{#if prevBtn}}
                        <li><a  href="{{prevUrl}}" class="navarrow" onclick="changePageNumber(-1)"><i class="fas fa-arrow-circle-left"></i></a></li>
                       {{/if}}
                        <li><h3 style="font-weight: bold;" id="page-number">1</h3></li>
                        {{#if chekckButton}}
                        <li><a   href="{{nexturl}}" class="navarrow" onclick="changePageNumber(1)"><i class="fas fa-arrow-circle-right"></i></a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
            <!--................................ Product category ................................................-->
            <div class="col-sm-4 col-md-3 sidebar">
                <!-- Product category -->
                <div class="widget widget_product_categories">
                    <h2 class="widget-title">Categories</h2>
                    <ul class="product-categories">
                        <li><a href="/products/Category?filter=Casual">Casual </a></li>
                        <li><a href="/products/Category?filter=Formal">Formal</a></li>
                        <li class=""><a href="/products/Category?filter=Party wear">Partywear</a></li>
                      </ul>
                </div>
                {{!-- current-cat class for active --}}
                <!-- ./Product category -->
                <!-- By department -->
                <div class="widget widget_layered_nav">
                    <h2 class="widget-title">Department</h2>
                    <ul class="product-categories">
                        <li><a href="/products/Department?filter=men">Men's</a></li>
                         <li><a href="/products/Department?filter=women">Women's</a></li>
                          <li><a href="/products/Department?filter=kid">Kid's</a></li>
                 </ul>
                </div>
                <!-- ./By department -->
                <!-- Filter price -->
                <div class="widget widget_price_filter">
                    <h2 class="widget-title">PRICES</h2>
                    <div class="price_slider_wrapper">
                        <div class="amount-range-price" >Price: ₹1000- ₹5000</div>
                        <div id="price"  data-label-reasult="price:" data-min="50" data-max="10000" data-unit="₹"
                            class="slider-range-price " data-value-min="" data-value-max="" ></div>
                        <form action="/allproduct/price">
                        <input type="number" name="start" id="start_price_input" hidden>
                         <input type="number" name="end" id="end_price_input" hidden>
                        <button class="button" onclick="gettingValues()">Filter</button>
                        </form>
                    </div>
                </div>
                <!-- ./Filter price -->
                <!-- By color -->
                <div class="widget widget_layered_nav">
                    <h2 class="widget-title">SIZE mood</h2>
                    <ul class="product-categories">
                        <li><a href="/products/Mood?filter=indoor">Indoor </li>
                        <li><a href="/products/Mood?filter=outdoor">Outdoor </li>
                        </ul>
                </div>
                <!-- ./By color -->
             
            </div>
        </div>
    </div>
    <div class="margin-top-0 margin-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="element-icon style2">
                        <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                        <div class="content">
                            <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="element-icon style2">
                        <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                        <div class="content">
                            <h4 class="title">MONEY BACK GUARANTEE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="element-icon style2">
                        <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                        <div class="content">
                            <h4 class="title">ONLINE SUPPORT 24/7</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
     function gettingValues(){
         var price = document.querySelector(".amount-range-price").innerHTML
         price = price.split("₹")
         console.log(price[1])
         var startPrice = price[1]
         startPrice = parseInt(startPrice)
         var endPrice =price[2]
         endPrice = parseInt(endPrice)
        
        $("#start_price_input").val(startPrice)
        $("#end_price_input").val(endPrice)
     }
 </script>
 <script>
     var params = new URLSearchParams(window.location.search)
     let start =params.get('start')||1000
     let end = params.get('end')||5000
      var price = $("#price")
      $(".amount-range-price").html(`Price: ₹${start}- ₹${end}`)
      price.attr("data-value-min",start)
      price.attr("data-value-max",end)
  </script>
 