<div class="container">
  <div class="shop-banner">
    <a href="/product-view/{{_id}}"><img src=" /banners/60db1825c7a33d9603db5d06-001.jpg" alt=""></a>
  </div>
 
  <div class="row">
    <div class="main-content col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="product-detail-image style2">
            <div class="main-image-wapper">
              <img class="main-image imageView" src="/pimages/{{details._id}}-001.jpg"
                data-large="/pimages/{{details._id}}-001.jpg" alt="">
            </div>
            <div class="thumbnails owl-carousel nav-center-center nav-style3"
              data-responsive='{"0":{"items":3},"481":{"items":4},"600":{"items":3},"1000":{"items":4}}'
              data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="true" data-margin="20">
              <a data-url="/pimages/{{details._id}}-001.jpg" class="active" href="#"><img
                  src="/pimages/{{details._id}}-001.jpg" alt=""></a>
              <a data-url="/pimages/{{details._id}}-002.jpg" href="#"><img src="/pimages/{{details._id}}-002.jpg"
                  alt=""></a>
              <a data-url="/pimages/{{details._id}}-003.jpg" href="#"><img src="/pimages/{{details._id}}-003.jpg"
                  alt=""></a>
              <a data-url="/pimages/{{details._id}}-003.jpg" href="#"><img src="/pimages/{{details._id}}-003.jpg"
                  alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="product-details-right style2">
            <h3 class="product-name">{{details.Name}}</h3>

            <span class="price">
              <ins>Rs.{{ details.OfferPrize}}</ins>
              <del style="padding-left: 10px;">₹ {{details.Prize}}</del>
              <span style="color: green; font-weight:bold">({{details.Discount}}%)</span>
            </span>
            <div class="meta">
              {{#ifEqual details.Quantity 0}}
              <span>Availalbe: <span class="text-primary " style="color: red;"> Outof Stock</span></span>
              {{else}}
              <span>Availalbe: <span class="text-primary "> In Stock</span></span>
              {{/ifEqual }}
            </div>
            <div class="short-descript">
              {{details.Description}}
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <label>Department</label>
                  <div class="inner">
                    <p>{{details.Department}}</p>
                  </div>
                  <label>COLOR</label>
                  <div class="inner">
                    <p>{{details.Color}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Size</label>
                  <div class="inner">
                    <p>{{details.Size}}</p>
                  </div>
                  <label>Product Left</label>
                  <div class="inner">
                    <p>{{details.Quantity}}</p>
                  </div>
                </div>
              </div>
            </div>
            <form id="cartAdding">

              {{#ifEqual details.Quantity 0}}
              <a class="button button-add-cart" data-quantity="1" style="background: red;">Out Of Stock</a>
              {{else}}
              <input name="productID" value="{{details._id}}" hidden>
              <input class="button button-add-cart" type="submit" value="Add to Cart">
              {{/ifEqual}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tab -->
<div class="container">
  <div class="tab-details-product style2">
    <ul class="box-tabs nav-tab">
      <li class=""><a data-toggle="tab" href="#tab-1">DESCRIPTION</a></li>

    </ul>
    <div class="tab-container">
      <div id="tab-1" class="tab-panel ">
        <p>{{details.Description}}</p>
      </div>

    </div>
  </div>
  <div class="product-slide upsell-products">
    <div class="section-title text-center">
      <h3>UPSELL PRODUCTS</h3>
    </div>
    <ul class="owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'
      data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="false" data-margin="30">
      {{!-- this is product item --}}

      {{#each similiar}}

      <li class="product-item">

        <div class="product-inner">
          <div class="product-thumb">
            <a href="/product/view/{{_id}}"><img src="/pimages/{{this._id}}-001.jpg" alt=""></a>

          </div>
          <div class="product-info">
            <h3 class="product-name"><a href="/product/view/{{_id}}">{{Name}}</a></h3>
            <span class="price">

              <div style="padding-bottom: 5px;">
                <span style=" font-weight:bold;">₹ {{OfferPrize}}</span>
              </div>
              <del style="color: red;">₹{{Prize}}</del>

              <span style="background: green; color:#ffff; padding:3px 5px;   font-weight:bold">{{Discount}}%</span>

            </span>
            <button class="button button-add-cart" onclick="addingCart('{{_id}}')">Add to Cart</button>
          </div>
        </div>

      </li>

      {{/each}}
    </ul>
  </div>
</div>
<div class="container margin-top-60 margin-bottom-30">
  <h3 style="font-weight: 700;">Reviews</h3>
 
  <div class="row">

    {{#each reviews}}
    <div class="col-md-3">
      {{#ifEqual star 5}}
      <p>Rating: <span style="color:green;"> <i class="fas fa-star"></i><i
              class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span></p>
      {{else}}
      {{#ifEqual star 4}}
       <p>Rating: <span style="color:green;"> <i class="fas fa-star"></i><i
              class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span></p>
      {{else}}
      {{#ifEqual star 3}}
       <p>Rating: <span style="color:green;"> <i class="fas fa-star"></i><i
              class="fas fa-star"></i><i class="fas fa-star"></i> </span></p>
      {{else}}
      {{#ifEqual star 2}}

      <p>Rating: <span style="color:rgb(219, 180, 3);"> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span> </p>
      {{else}}
      {{#ifEqual star 1}}
      <p>Rating: <span style="color:rgb(211, 8, 8);"><i class="fas fa-star"></i></span></p>

      {{/ifEqual}}
      {{/ifEqual}}
      {{/ifEqual}}
      {{/ifEqual}}
      {{/ifEqual}}
      <p><span style="font-weight:bold">{{name}} </span>: {{review}}</p>

    </div>
    {{/each}}
  </div>

</div>
<!--END CONTAINER-->
<!-- ./tab -->
<div class="margin-top-60 margin-bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="element-icon style2">
          <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
          <div class="content">
            <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="element-icon style2">
          <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
          <div class="content">
            <h4 class="title">MONEY BACK GUARANTEE</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="element-icon style2">
          <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
          <div class="content">
            <h4 class="title">ONLINE SUPPORT 24/7</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>