<link rel="stylesheet" href="/css/userprofile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<style>
    body{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
    #progressbar {
        margin-bottom: 10px;
        overflow: hidden;
        color: #455A64;
        padding-left: 0px;
        margin-top: 10px;
    }

    #progressbar li {
        list-style-type: none;
        font-size: 13px;
        width: 33.33%;
        float: left;
        position: relative;
        font-weight: 400;
        color: #455A64 !important
    }

    #progressbar #step1:before {
        content: "1";
        color: #fff;
        width: 29px;
        margin-left: 15px !important;
        padding-left: 11px !important
    }

    #progressbar #step2:before {
        content: "2";
        color: #fff;
        width: 29px
    }

    #progressbar #step3:before {
        content: "3";
        color: #fff;
        width: 29px;
        margin-right: 15px !important;
        padding-right: 11px !important
    }

    #progressbar li:before {
        line-height: 29px;
        display: block;
        font-size: 12px;
        background: #455A64;
        border-radius: 50%;
        margin: auto
    }

    #progressbar li:after {
        content: '';
        width: 121%;
        height: 2px;
        background: #455A64;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15px;
        z-index: -1
    }

    #progressbar li:nth-child(2):after {
        left: 50%
    }

    #progressbar li:nth-child(1):after {
        left: 25%;
        width: 121%
    }

    #progressbar li:nth-child(3):after {
        left: 25% !important;
        width: 50% !important
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #0fb600
    }
     #progressbar li.cactive:before,
    #progressbar li.cactive:after {
        background: #c20000
    }

    .card {
        background-color: #fff;

        
        z-index: 0;
         
    }

    small {
        font-size: 12px !important
    }

    .a {
        justify-content: space-between !important
    }

    .border-line {
        border-right: 1px solid rgb(226, 206, 226)
    }

    .card-footer img {
        opacity: 0.3
    }

    .card-footer h5 {
        font-size: 1.1em;
        color: #8C9EFF;
        cursor: pointer
    }
</style>

<div class="container ">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100 ">
                <div class="card-body" style="padding:50px; display:flex; justify-content:center; align-items:start">
                    <div class="account-settings" style="align-items: center;">
                        <div class="user-profile">
                            <div class="user-avatar">


                                <h4 class="title" style="padding-bottom:30px;">Profile Image</h4>
                                <div class="fileinput fileinput-new text-center">
                                    <div class="fileinput-new ">
                                        <img src="/images/userimage/{{usernav.uid}}-001.jpg"
                                            onerror="this.onerror=null; this.src='https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png'"
                                            id="chekPreview1" alt="...">

                                    </div>
                                    <div>

                                        <span class="btn btn-rose btn-round btn-file">

                                            <input type="file" id="image1" accept="image/gif, image/jpeg, image/png"
                                                style="display: none;" />

                                            <input type="button" class="btn btn-dark" value="change"
                                                onclick="document.getElementById('image1').click();" />
                                            <form action="/changeprofile" method="post">
                                                <textarea name="image1_b64" id="imageValue1" cols="30" rows="10"
                                                    hidden></textarea>
                                                <input type="submit" class="btn btn-dark" id="uploadPhoto"
                                                    value="submit" style="margin-top: 20px;" hidden>
                                            </form>
                                        </span>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body" style="padding: 50px;">
                    <form  id="userProfile">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" value="{{usernav.name}}"
                                        placeholder="Enter full name" name="userFullname" disabled required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" name="email" id="eMail"
                                        value="{{usernav.email}}" placeholder="Enter email ID" disabled required>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" name="phone" id="phone"
                                        value="{{usernav.phone}}" placeholder="Enter phone number" disabled required>
                                </div>
                            </div>


                        </div>

                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a id="edit" class="btn btn-secondary" onclick="clickEdit()"
                                        style="text-decoration:none; color:#ffff;">Edit</a>
                                    <a id="cancel" class="btn btn-secondary  " onclick="clickCancel()"
                                        style="display: none;text-decoration:none;  color:#ffff;">Cancel</a>
                                    <button id="update" type="submit" id="submit" class="btn btn-primary"
                                        style="display: none;">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-body" style="padding: 50px;">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Change Password
                        </button>
                        <button type="button" id="address_manage" class="btn btn-primary">
                            Address manage
                        </button>
                        <button type="button" id="order_div" class="btn btn-primary">
                            Order History
                        </button>
                         <button type="button" id="referal" class="btn btn-primary">
                            Referal
                        </button>
                    </div>

                    <div class="row" style="display: none;" id="referalDiv">

                        <div class="container ">
                            <h1>Referal Details</h1>


                             <div class="contianer " style=" display:flex; justify-content:start; padding-top:30px">
                            <div>
                              <h3>Referal Code</h3>
                             <input type="text"  class="form-control"  onclick="copyFuction()" value="{{userReferal}}"  style="font-size: 18px; width:50%; border:2px solid rgb(5, 128, 5);"  id="referalCode">
                             </div>
                             <div>
                              <h3>Pocket Balance</h3>
                                <h1>₹ {{referalEarnings}}  /-</h1>
                             </div>
                            </div>
                            
                               
                          </div>      
                     </div>


                    <div class="row"  style="display: none;"  id="address_div">
                        <div class="container">
                            <h1>Address </h1>
                        </div>
                        {{#each address}}
                            
                             <div class="card " style="width: 25rem;">
                            <div class="card-body">
                                <h2 class="card-title">{{AddressName}}</h2>
                                <h3 class="card-subtitle mb-2 text-muted">{{HouseNo}}</h3>
                                <p class="card-text">{{Address}}<br>{{Town}},{{State}}<br>
                                    {{Pincode}},{{Phone}}
                                </p>
                                <a href="/change/address/{{AddressName}}" class="btn btn-success">Edit Address</a>
                                <a href="/delete/address/{{AddressName}}" class="btn btn-danger" onclick="return confirm('are your sure?')">Delete</a>

                            </div>
                                </div>
                            {{/each}}
                        
                    </div>
                     
                      <div class="row"  style="display: none;"  id="order-history"> 
                         
                     
                            {{#each orders}}
                           {{#each products}}
                           <div class="col-md-6 p-3">
                             <div class="card" >
                                
                                <div class="card-body" >
                                    <div class="media flex-column flex-sm-row">
                                        <div class="media-body ">
                                            <h5 class="bold">{{productname}}</h5>
                                            <p class="text-muted"> Qt: ({{qty}}) Pair</p>
                                            <h4 class="mt-3 mb-4 bold"> <span class="mt-5">&#x20B9;</span> {{total}} <span
                                                    class="small text-muted"> via ({{../payment}}) </span></h4>
                                          
                                            {{#ne status 'SHIPPED'}}
                                            {{#ne status 'DELIVERED'}}
                                            {{#ne status 'CANCEL'}}
                                            <button class="btn btn-danger"  onclick="cancelProduct('{{../_id}}' ,'{{pid}}')" style="padding: 8px 18px; font-size:8px">Cancel</button>
                                            {{/ne}}
                                            {{/ne}}
                                            {{/ne}}
                                        </div><img class="align-self-center img-fluid"
                                            src="/pimages/{{pid}}-001.jpg"  width="80px ">
                                    </div>
                                </div>
                                 {{#ifEqual status 'CANCEL'}}   
                                     <div class="row px-3">
                                    <div class="col">
                                        <ul id="progressbar">
                                            <li class="step0 cactive " id="step1">ORDERD</li>
                                            <li class="step0 cactive text-center" id="step2"><i class="fas fa-ban"></i></li>
                                            <li class="step0 cactive text-muted text-right" id="step3">CANCELED</li>
                                        </ul>
                                        <div style="padding: 10px;">
                                            <a href="/view-cart" class="btn btn-success" style="padding: 10px 20px">Reorder</a>
                                        </div>
                                    </div>
                                </div>
                                    {{else}}
                                {{#ifEqual status 'PLACED'}}
                                <div class="row px-3">
                                    <div class="col">
                                        <ul id="progressbar">
                                            <li class="step0 active " id="step1">PLACED</li>
                                            <li class="step0  text-center" id="step2">SHIPPED</li>
                                            <li class="step0 text-muted text-right" id="step3">DELIVERED</li>
                                        </ul>
                                    </div>
                                </div>
                                {{else}}
                                 {{#ifEqual status 'SHIPPED'}}
                                          <div class="row px-3">
                                    <div class="col">
                                        <ul id="progressbar">
                                            <li class="step0 active " id="step1">PLACED</li>
                                            <li class="step0 active text-center" id="step2">SHIPPED</li>
                                            <li class="step0 text-muted text-right" id="step3">DELIVERED</li>
                                        </ul>
                                         
                                    </div>
                                </div>
                                {{else}}
                                  {{#ifEqual status 'DELIVERED'}}
                                    <div class="row px-3">
                                    <div class="col">
                                        <ul id="progressbar">
                                            <li class="step0 active " id="step1">PLACED</li>
                                            <li class="step0 active text-center" id="step2">SHIPPED</li>
                                            <li class="step0  active text-muted text-right" id="step3">DELIVERED</li>
                                        </ul>
                                    </div>

                                </div>
                                <a class="btn btn-success" href="/rating/product/{{pid}}">Review</a>
                               {{/ifEqual}}
                                   {{/ifEqual}}
                                 {{/ifEqual}}
                                 {{/ifEqual}}
                            </div>
                             </div>
                        
                            {{/each}}
                        {{/each }} 
                         
                  </div>
                    
               </div>
                 
            </div>
        </div>
    </div>
</div>



{{!-- modal for update password --}}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Your Password</h5>

            </div>
            <div class="modal-body">
                <form  id="changePassword" style="padding: 20px;">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Old Password</label>
                        <input type="password" name="oldpass" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">New Password</label>
                        <input type="text" id="newpass" name="newpass" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
                        <input type="password" id="cpass"  name="cpass" class="form-control">

                    </div>
                        <p id="erroralert" style="color: red;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="change-pass-cancle" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"> change</button>
            </div>
            </form>
        </div>
    </div>
</div>








<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage1" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" onclick="canel()" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

<script>
    $('document').ready(function () {
        var image1 = document.getElementById('sampleImage1');
        var modal1 = $('#modal1');
        var cropper1;

        $('#image1').change(function (event) {
            var file = this.files[0];
            var fileType = file["type"];
             if (fileType.search('image') >= 0) {
   
             var files = event.target.files;
            var done = function (url) {
                image1.src = url;
                modal1.modal('show');
            };
             if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }
            }else{
                    Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: "please Select Image",
                    showConfirmButton: true,
                   
                })
                this.value=""
            }
           
        });

        modal1.on('shown.bs.modal', function () {
            cropper1 = new Cropper(image1, {
                aspectRatio: 1,
                viewMode: 3,
                preview: '#preview1'
            });
        }).on('hidden.bs.modal', function () {
            cropper1.destroy();
            cropper1 = null;
        });

        $('#crop1').click(function () {
            canvas = cropper1.getCroppedCanvas({
                width: 400,
                height: 400
            });

            canvas.toBlob(function (blob) {
                url = URL.createObjectURL(blob);
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function () {
                    var base64data = reader.result;
                    modal1.modal('hide');
                    $("#imageValue1").val(base64data)
                    $('#chekPreview1').attr('src', base64data);
                    $("#uploadPhoto").removeAttr('hidden')

                };
            });
        });


    })

</script>
<script>
    function copyFuction(){
   
  var copyText = document.getElementById("referalCode");
 
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */
 
  document.execCommand("copy");
 
  alert("Copied the text: " + copyText.value);
}
</script>
<script>
    function canel() {
        $('#modal1').modal('hide');
    }
</script>
<script>
    function clickEdit() {
        let field = $("input[type='text']")
        for (let index = 0; index < field.length; index++) {
            field[index].removeAttribute("disabled")
        }
        let emailField = $("input[type='email']")

        for (let index = 0; index < emailField.length; index++) {
            emailField[index].removeAttribute("disabled")
        }
        $("#cancel").show()
        $("#update").show()
        $("#edit").hide()
    }

    function clickCancel() {
        let field = $("input[type='text']")
        for (let index = 0; index < field.length; index++) {
            field[index].setAttribute("disabled", true)
        }
        let emailField = $("input[type='email']")

        for (let index = 0; index < emailField.length; index++) {
            emailField[index].setAttribute("disabled", true)
        }
        $("#cancel").hide()
        $("#update").hide()
        $("#edit").show()
    }
</script>

<script>
    $(document).ready(function () {

      
      

          $("#order_div").click(function () {
              
            $("#order-history").toggle();
            $("#referalDiv").hide();
            $("#address_div").hide();
        });

        $("#address_manage").click(function () {
              
            $("#order-history").hide();
              $("#referalDiv").hide();
            $("#address_div").toggle();
        });



       

        $("#referal").click(function () {
            $("#referalDiv").toggle();
            $("#address_div").hide();
            $("#order-history").hide();
             
        });

    });

</script>